{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block body %}
    <h1>Chantier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chantier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chantier.nom }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ chantier.contenu }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ chantier.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chantier_index') }}">back to list</a>

    <a href="{{ path('chantier_edit', {'id': chantier.id}) }}">edit</a>

    {{ include('chantier/_delete_form.html.twig') }}
{% endblock %}
