{% extends 'base.html.twig' %}

{% block title %}TypeChantier{% endblock %}

{% block body %}
    <h1>TypeChantier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_chantier.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ type_chantier.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_chantier_index') }}">back to list</a>

    <a href="{{ path('type_chantier_edit', {'id': type_chantier.id}) }}">edit</a>

    {{ include('type_chantier/_delete_form.html.twig') }}
{% endblock %}
