{% extends 'base.html.twig' %}

{% block title %}DemandeDevis index{% endblock %}

{% block body %}
    <h1>DemandeDevis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande_devi in demande_devis %}
            <tr>
                <td>{{ demande_devi.id }}</td>
                <td>{{ demande_devi.nom }}</td>
                <td>{{ demande_devi.adresse }}</td>
                <td>{{ demande_devi.description }}</td>
                <td>{{ demande_devi.telephone }}</td>
                <td>{{ demande_devi.email }}</td>
                <td>{{ demande_devi.status }}</td>
                <td>
                    <a href="{{ path('demande_devis_show', {'id': demande_devi.id}) }}">show</a>
                    <a href="{{ path('demande_devis_edit', {'id': demande_devi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demande_devis_new') }}">Create new</a>
{% endblock %}
